/* Large devices (desktops, 992px and up) */
@media (min-device-width: 992px) {
    .main-login {
        width: 28vw;
        margin-top: 7.2vh;
        color: var(--darkgray);

        h2 {
            margin-bottom: 6.2vh;
            font-style: normal;
            font-weight: 700;
            font-size: var(--font-size-xl);
        }

        .password {
            margin-top: 2.5vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .icon-align {
                position: absolute;
                margin: 3.4vh 1vw 0 0;
                display: flex;
    
                .show-password-icon {
                    color: var(--darkblue);
                    cursor: pointer;
                    font-size: 3.2vh;
                }
            }
        }

        .link {
            margin-top: 3vh;
            margin-left: 1vw;
            font-size: var(--font-size-m);  
        }

        button {
            margin-top: 7.5vh;
            text-align: center;
        }
    }
}

/* Small devices (landscape phones, 991px and below) */
@media (max-device-width: 991px) {
    .main-login {
        width: 90%;
        margin-top: 7.2vh;
        color: var(--darkgray);

        h2 {
            margin-bottom: 6.2vh;
            font-style: normal;
            font-weight: 700;
            font-size: var(--font-size-xl);
        }

        label {
            margin-left: 3vw;
        }

        .password {
            margin-top: 2.5vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
    
            .icon-align {
                position: absolute;
                margin: 3vh 3vw 0 0;
                display: flex;

                .show-password-icon {
                    color: var(--darkblue);
                    font-size: 3.2vh;
                    cursor: pointer;
                }
            }
        }

        .link {
            margin-top: 3vh;
            margin-left: 1vw;
            font-size: var(--font-size-m);
        }

        .button {
            margin-top: 7.5vh;
            text-align: center;
        }
    }
}