/* Large devices (desktops, 992px and up) */
@media (min-device-width: 992px) {
    .main-nova-senha {
        width: 28vw;
        margin-top: 7.2vh;
        color: var(--darkgray);

        h2 {
            margin-bottom: 6.2vh;
            font-style: normal;
            font-weight: 700;
            font-size: var(--font-size-xl);
        }

        .password {
            margin-top: 2.5vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            .eye-align {
                position: absolute;
                margin: 3vh 1vw 0 0;
                display: flex;

                .show-icon {
                    font-size: 3.2vh;
                    color: var(--darkblue);
                    cursor: pointer;
                }
            }
        }

        .icon{
            font-size: 3.8vh;
        }

        .buttons {
            /* margin-top: 7vh; */
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            text-align: center;
    
            a {
                text-decoration: none;
                color: var(--darkblue);
            }
        }
    }
}

/* Small devices (landscape phones, 991px and below) */
@media (max-device-width: 991px) {
    .main-nova-senha {
        width: 90%;
        margin-top: 7.2vh;
        color: var(--gray);

        h2 {
            margin-bottom: 6.2vh;
            font-style: normal;
            font-weight: 700;
            font-size: var(--font-size-xl);
        }

        label {
            margin-left: 3vw;
        }

        .password {
            margin-top: 2.5vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
    
            .eye-align {
                position: absolute;
                margin: 3vh 3vw 0 0;
                display: flex;
                
                .show-icon {
                    font-size: 3.2vh;
                    color: var(--darkblue);
                    cursor: pointer;
                }
            }
        }

        .validation {
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-s);
        }

        .buttons {
            margin-top: 7vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
    
            a {
                text-decoration: none;
            }
        }
    }
}