/* Large devices (desktops, 992px and up) */
@media (min-device-width: 992px) {
    .layout-external {
        display: flex;
        flex-direction: row;

        .left {
            width: 50vw;
            height: 80vh;
            margin-left: 8.5vw;
            margin-top: 12vh;

            .logo {
                height: 11vh;
            }
        }
    
        .right {
            width: 50vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .background-desktop {
                height: 100vh;
            }

            .background-mobile {
                width: 0;
            }
        }
    }
}

/* Small devices (landscape phones, below 991px) */
@media (max-device-width: 991px) {
    .layout-external {
        display: flex;
        flex-direction: column;
        height: 100vh;

        .left {
            margin-left: 8vw;
            margin-top: 5vh;
    
            .logo {
                height: 11vh;
            }
        }
    
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
    
            .background-desktop {
                height: 0;
            }
    
            .background-mobile {
                width: 100%;
                margin-top: 15vh;
                object-fit: cover;
            }
        }
    }
}