@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --black: #000000;
  --lightgray: #F5F5F5;
  --lightgrey: #B4B4B4;
  --darkgray: #262626;
  --gray: #464646;
  --white: #ffffff;
  --darkblue: #008796;
  --lightblue: #2BC3D4;
  --light: #EAF9FB;
  --red: #E20000;
  
  --font-size-xs: 1.4vh;
  --font-size-s: 1.6vh;
  --font-size-m: 1.8vh;
  --font-size-l: 2vh;
  --font-size-xl: 3vh;
  --font-size-xxl: 4vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  line-height: normal;
}

Link {
  cursor: pointer;
}

::placeholder {
  color: #B5AEAE;
}

.main-welcome-message {
  margin-right: 15vw;
}

a {
  color: #000;
}
